*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
}

body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.container{
    width:max-content;
    margin:0 auto;
}
.second-block .container{
    display:flex;
}
.nav-container{
    width:  97.2%;
    margin:0 auto;
}
.catalog-container{
    width:97.3%;
    margin:0 auto;
}
.footer-container{
    width:97.3%;
    margin:0 auto;  
}

header{
    width:100%;
}
header .block{
    padding-bottom: 3px;
    background-color:#222533;
    border-top:1px solid #707070;
    border-bottom:1px solid #707070;
}
header .second-block{
    background-color: #1A1C27;
}
header .container{
    width:97.3%;
    display: flex;
    align-items: center;
}
header .container > div{
    display: flex;
    align-items: center;
    margin-left: -1px;
}
header .fa{
    font-size:18px;
    color:#1ABC9C;
    margin-top: 1px;
    margin-right:14px;
}
header .fa-phone{
    margin-right: 12px;
}
header .fa-send{
    margin-right: 13px;
    margin-left: -1px;
}
header .container-email span{
    margin-right: 5px;
}
header .container .language-select span:nth-child(even){
    color:#A1B1BC;
    font-size:14px;
    line-height: 19px;
    margin-right: 3px;
}
header .container .language-select span:nth-child(odd){
    color:#FFFFFF;
    font-size:14px;
    font-weight: 900;
    line-height: 19px;
    margin-right: 3px;
}
header .container .contact-number{
    color:#A1B1BC;
    font-size:14px;
    line-height: 19px;
}

header .container .contact-email{
    color:#A1B1BC;
    font-size:14px;
    line-height: 19px;
    margin-left: 5px;
}

header .container div::before, header .container div:last-child::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: #314354;
    margin-left: 10px;
    margin-right: 17px;
    opacity: 0.5;
}
header nav .nav-container{
    height: 100px;
    background-color:white;
    display: flex;
    align-items:center;
}
header nav .nav-container .logo{
    display: inline-block;
    width: 40px;
    height: 45px;
    background-image: url(../images/Logo.png);
    background-size:cover;
    margin-right: -36px;
}
header nav .nav-container div{
    display: flex;
    align-items: center;
}
header nav .nav-container div > span{
    font-size:35.69px;
    line-height: 13.77px;
    color:#2C3E50;
    letter-spacing: 0.35px;
    margin-left: 50px;
}
header nav .nav-container span > span{
    font-weight: 900;
}
header nav .nav-container > span{
    font-size:15.86px;
    color:#A1B1BC;
    line-height: 13.77px;
    margin-left: 85px;
    margin-right: -39px;
    margin-top: -4px; 
}

header nav .nav-container > span:hover::before{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #1ABC9C;
    top: 55px;
}
header nav .nav-container > span:hover{
    color:#1ABC9C;
    cursor: pointer;
}
header nav .nav-container span:last-of-type{
    margin-right: -1px;
    letter-spacing: 0.1px;
}
header nav .nav-container .search-cart{
    display: inline-block;
    width: 76.37px;
    height: 28.61px;
    background-image: url(../images/Search-Cart.png);
    background-size:cover;
    margin-left: 40px;
}
section {
    height: 120px;
    background-color: rgba(34, 37, 51, 0.8);
    margin-bottom: 99px;
}
section .catalog-container{
    display: flex;
    align-items: center;
}
section .catalog-container{
    justify-content: space-between;
}

section .catalog-container div:first-child{
    color:white;
    font-size:30px;
    line-height: 19px;
    padding-left: 61px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}
section .catalog-container .catalog{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(/images/Button.png);
    background-size:cover;
    margin-left:19px;
    margin-top: 5px;
}
.fa-angle-right{
    color: #A1B1BC;
    margin-top: -4px;
    margin-right: 4px;
    margin-left: 9px;
    padding-top: 44px;
}
section .catalog-container div:last-child span{
    color:#ECF0F1;
    font-size:14px;
    line-height: 19px;
    margin-top: -1px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 44px;
}

article{
    width:855px;
    margin-left: 695px;
}
.text > .poster, .slider .wrapper .poster{
    height: 400px;
    width: 850px;
    background-color: #ECF0F1;
    margin-bottom: 26px;
}
article .heading{
    line-height: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECF0F1;
    margin-bottom: 13.6px;
}
article .heading h1{
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #2C3E50;
    margin-bottom: 3.1px;
    letter-spacing: -0.5px; 
    word-spacing: 1.9px;
}
article .heading p span{
    font-size: 14px;
    color: #A1B1BC;
    word-spacing: -0.3px;
}
article .heading p span::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #ECF0F1;
    margin-left: 10px;
    margin-right: 7px;
    line-height: 30px;
}
article .heading p span:last-child::after{
    display: none;
}
article > p{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin-bottom: 38px;
}
article > span{
    font-weight: 900;
    color:#2C3E50;
    font-size:16px;
    line-height: 24px;
    text-transform: uppercase;
    border:1px solid #2C3E50;
    border-radius: 3px;
    letter-spacing: 1.6px;
    padding: 14px 20px 15px 20px;
}
article > span:hover{
    background-color:#2C3E50;
    color:white;
    cursor: pointer;
}
article .heading h1:hover{
    color:#1ABC9C;
    cursor: pointer;
}
.text{
    margin-bottom: 84px;
}
.slider .wrapper{
    position: relative;
}
.slider .wrapper .controls .slide-btn{
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 3.75px; 
    top: 175px;
}
.left{ 
    left: -2px;
}
.right{
    right: 2px;
}
.slider .wrapper .controls .fa{
    position: absolute;
    color:#2C3E50;
    font-size:18px;
    line-height: 50px;
}
.slider .wrapper .controls .fa.left{
    top: 173px;
    left: 20px;
}
.slider .wrapper .controls .fa.right{
    top: 177px;
    right: 21px;
}
.dots{
    width: 100px;
    display:flex;
    position: absolute;
    justify-content:space-between;
    top: 362px;
    left: 375px;
}
.slider .wrapper .controls .slide-dots{
    width: 15px;
    height:15px;
    background-color:white;
    border-radius: 50%;
}
.slider .wrapper .controls .slide-dots.active{
    box-sizing: content-box;
    background-color:transparent;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: -2px;
}

.slider .heading h1{
    letter-spacing: -0.3px;
    word-spacing: 0.4px;
    margin-bottom: 2px;
}
.slider .heading h1{
    letter-spacing: -0.3px;
    word-spacing: 0.4px;
    margin-bottom: 2px;
}
.slider .heading{
    margin-bottom: 14px;
}
.slider{
    margin-bottom: 84px;
}
.video .media{
    width:850px;
    height: 450px;
    margin-bottom:24px;
}
.video .heading h1{
    word-spacing: 0.9px;
}
.video .heading{
    margin-bottom: 14px;
}
.video > p .green,.video-2 > p .green{
    margin-left: 2px;
    font-weight: 900;
    font-size:14px;
    color:#1ABC9C;
    letter-spacing: -0.1px;
    word-spacing: -0.3px;
}
.video > p .black, .video-2 > p .black{
    font-weight: 900;
    font-size:14px;
    color:#2C3E50;
    text-decoration: underline;
    margin-right: -3px;
    word-spacing: -0.9px;
}
.video{
    margin-bottom: 83px;
}
.video-2 .media{
    margin-bottom: 22px;
}
.video-2 .heading{
    margin-bottom: 14px;
}
.video-2 .heading h1{
    word-spacing: 1.1px;
}
.video-2 > p .green{
    margin-left:0px;
}
.video-2 > p .black{
    margin-right:0px;
}
.video-2{
    margin-bottom: 133px;
}
footer{
    width:100%;
    background-color:#1A1C27;
}
footer .block{
    height:1px;
    background-color:#2B2E3C;
    border-top:1px solid #707070;
    border-bottom:1px solid #707070;
}
footer .top{
    height: 476px;
    width:97.3%;
    display: flex;
    padding-top: 110px;
}
footer  .top > div{
    width:270px;
    display:flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: -31px;
}

footer  .top .row > h3{
    font-size:18px;
    font-weight: 900;
    line-height: 24px;
    color:white;
    text-transform: uppercase;
    margin-top: -18px;
    margin-left: 25px;
    margin-bottom: 28.7px;
}
footer  .top .row > h3::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 18px;
    background-color: #1ABC9C;
    margin-top: 5px;
    margin-right: 19px;
    margin-left: -24px;
}

footer .top div:first-child h3{
    color:white;
    font-size:47.59px;
    font-weight: 400;
    line-height: 13.77px;
    margin-bottom: 39px;
    margin-left: -1px;
    letter-spacing: -0.4px;   
}
footer  .top div:first-child h3 > span{
    font-weight: 900;
    color:#1ABC9C;
}
footer .top div:first-child p{
    font-size:14px;
    color:#A1B1BC;
    line-height: 24px;
    margin-bottom: 24px;
}
footer  .top ul{
    list-style:none;
}
footer .top .row.seperate ul li{
    display:flex;
    justify-content: space-between;
    color:#A1B1BC;
    font-size:14px;
    line-height: 50px;
    margin-bottom: -1px;
    border-bottom:1px solid #262837;
}
footer  .top .row.seperate h3{
    margin-left: 24px;
}
footer .top .row.seperate ul li:last-child{
    border-bottom: transparent;
}
footer .top .row.seperate ul li > span:nth-child(even){
    font-size:12px;
    color:#788894;
}
footer  .top ul li>div{
    height: 78px;
    display:flex;
}
footer .top .row .tweets{
    padding-top: 21px;
}
footer .top .row .fa{
    color: #A1B1BC;
    font-size: 24px;
    line-height:24px;
    margin-right: 19px;
    padding-bottom: 78px;
    margin-left: 1px;
}
footer .top .row .tweets > li:first-child{
    border-bottom: 1px solid  #262837; 
    padding-bottom: 1px;
    margin-bottom: 22px;
}
footer .top .row .tweets ul li{
    color:#A1B1BC;
    font-size:14px;
    line-height:24px;
}
footer .top .row .tweets ul li a{
    color:#1ABC9C;
    text-decoration: none;
}

footer .top .row .tweets ul{
    margin-top: -8px;
}
footer .top .row .tweets li > div ul li:last-child{
    color:#6D7D89;
    font-size:12px;
    line-height:24px;
    margin-top: 1px;
}
footer .top .row:last-child > div{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    grid-gap: 7px;
    padding-top: 18px;
    padding-left: 2px;
}
footer .top .row:last-child > div  div{
    width:85px;
    height:85px;
    background-color: #1ABC9C;
}
footer .bottom{
    display:flex;
    background-color: #222533;
    height:70px;
    color:#A1B1BC;
    font-size:14px;
    line-height: 24px;
    padding-top: 22px;
    padding-left: 375px;
}
footer .bottom p:after{
    content:'';
    display:inline-block;
    width:1px;
    height: 10px;
    background-color: #2C3E50;
    margin-left: 4px;
    margin-right: 7px;
}
footer .bottom p:last-child::after{
    display:none;
}
footer .bottom p:nth-child(even)::after{
    margin-left: 2px;
    margin-right: 3px;
}

footer .bottom p:nth-child(even){
    margin-right:1px;
}
footer .bottom a{
    color:#1ABC9C;
    text-decoration: none;
}

.sidebar-content{
    display:flex;
   
}
article{
    margin-left:0;
}
.sidebar{
    max-width:270px;
    margin-right: 59px;
    padding-left: 8px;
}

.sidebar .sidebar-title{
    display:flex;
    align-items: center;
    margin-top: -3px;
    margin-bottom: 28px;

}
.sidebar .sidebar-title .logo{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../images/Rect-Logo.png);
    background-size:cover;
    margin-right: 10px;
}
.sidebar .sidebar-title h3{
    font-size:18px;
    line-height:19px;
    font-weight:900;
    letter-spacing: -0.3px;
    word-spacing: 1.9px;
}
.sidebar .comments{
    display:flex;
    border-bottom:1px solid #DEE5E9;
    height: max-content;
    margin-bottom: 20px;
}
.sidebar .comments .avatar{
    min-width:40px;
    height:40px;
    background-color: #CCCCCC;
    border:1px solid #707070;
    border-radius:5px;
    margin-right: 16px;
}
.sidebar .comments .user{
    display:flex;
    flex-direction:column;
    font-size:14px;
    margin-bottom: -67px;
}
.sidebar .comments .user .name{
    font-size:14px;
    line-height: 19px;
    margin-top:-4px;
    margin-bottom: 4px;
}
.sidebar .comments .user .name span:nth-child(odd){
    font-weight:900;
    color:#2C3E50;
    margin-right: 5px;
}
.sidebar .comments .user .name span:nth-child(even){
    color:#A1B1BC;
    word-spacing: 3px;
}
.sidebar .comments .user .text{
    color:#A1B1BC;
    line-height: 24px;
}
.sidebar .comments .user .text a{
    color:#1ABC9C;
    text-decoration:none;
}
.sidebar .comments.second .user .name{
    margin-left:-2px;
}
.sidebar .comments.third .user .name{
    margin-left:-1px;
}
.sidebar .comments.clear-border{
    border-bottom: transparent;
    margin-bottom: 58px;
}
.sidebar .comments .user .name span:nth-child(odd):hover{
    color:#1ABC9C;
    cursor: pointer;
}
.sidebar .grid-box{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:7px;
    margin-top: 31px;
    margin-right: -2px;
    margin-bottom: 51px;
}
.sidebar .grid-box > div{
    width:85px;
    height:85px;
    background-color: #CCCCCC;
    position:relative;
}
.sidebar .grid-box > div:hover{
    background-color: #1FCDAB;
    cursor: pointer;
}
.sidebar .grid-box > div:hover::after{
    content:'+';
    font-weight:300;
    font-size:40px;
    color:white;
    display:inline-block;
    position:absolute;
    top: 17px;
    right: 31px;

}